<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
     Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
<div id="avatar"><img src="https://avatars.githubusercontent.com/u/1545754?v=4" alt="" srcset=""></div>
<h1>Jeferson Roberto de Oliveira Ferreira</h1>
<p>Etec Juscelino kubitschek de Oliveira - Diadema</p>
<p> <a href="mailto:jeferson.oferreira@etec.sp.gov.br">jeferson.oferreira@etec.sp.gov.br</a></p>

</ion-content>
